/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*--------------------*/

body {
  background: #000409;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 5px;
}

.header__row {
  display: flex;
  text-align: center;
}

ul {
  display: flex;
}

ul li a {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  display: block;
  padding: 15px 40px 20px 40px;
  text-transform: capitalize;
  font-weight: 700;
  border-top: 5px solid transparent;
  color: #fff;
}

.header {
  background: #141b22;
}

ul li a:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.55);
}

.title {
  font-size: 38px;
  color: #c7d1d9;
  font-weight: 600;
  line-height: 48px;
}

.text {
  line-height: 18px;
  color: #88949e;
}

.txt-like {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.page {
  max-width: 550px;
  margin-top: 24px;
  padding: 18px;
  border: 2px solid #1f262d;
  border-radius: 10px;
}
